include:
  - template: Auto-DevOps.gitlab-ci.yml

build:
  image: "$REGISTRY_URL/docker/auto-build-image:v0.6.0"
  needs: []
  services:
    - name: "$REGISTRY_URL/greg/docker/docker:20.10.16-dind"
      command: ["--tls=false", "--host=tcp://0.0.0.0:2375"]
  before_script:
    - apk add curl
    - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer" | bash
    - echo "$REG_PASSWORD" | docker login -u git --password-stdin $REGISTRY_URL
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
      variables:
        AUTO_DEVOPS_BUILD_IMAGE_EXTRA_ARGS: "--build-arg NODE_ENV=prod --build-arg GIT_HASH=$CI_COMMIT_SHA"
        #CI_APPLICATION_TAG: "latest"
    - if: "$CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH"
      variables:
        AUTO_DEVOPS_BUILD_IMAGE_EXTRA_ARGS: "--build-arg NODE_ENV=staging --build-arg GIT_HASH=$CI_COMMIT_SHA"
        #CI_APPLICATION_TAG: "staging"

staging:
  variables:
    KUBE_CONTEXT: $CI_PROJECT_PATH:toki-meeting-staging-fe
    REPLICAS: 1
    STAGING_ENABLED: "true"
  environment:
    name: toki-meeting-staging-fe
    url: "https://staging-train-fe.toki.mn/"
  rules:
    - if: "($CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH)"

production:
  variables:
    KUBE_CONTEXT: $CI_PROJECT_PATH:toki-meeting-production-fe
    REPLICAS: 2
  environment:
    name: toki-meeting-production-fe
    url: "https://train-fe.toki.mn/"
  when: manual

variables:
  KUBE_NAMESPACE: "meeting"
  SECURE_FILES_DOWNLOAD_PATH: "./"
  KUBE_INGRESS_BASE_DOMAIN: toki.mn
  HELM_RELEASE_NAME: meeting-fe
  CI_APPLICATION_REPOSITORY: "$REGISTRY_URL/$CI_PROJECT_PATH"
  REGISTRY_URL: "internalregistry.toki.mn"
  HELM_UPGRADE_VALUES_FILE: ".gitlab/auto-deploy-values.yaml"
  GIT_SUBMODULE_STRATEGY: normal
  TEST_DISABLED: "false"
  CODE_QUALITY_DISABLED: "true"
  LICENSE_MANAGEMENT_DISABLED: "true"
  BROWSER_PERFORMANCE_DISABLED: "true"
  LOAD_PERFORMANCE_DISABLED: "true"
  SAST_DISABLED: "true"
  SECRET_DETECTION_DISABLED: "true"
  DEPENDENCY_SCANNING_DISABLED: "true"
  CONTAINER_SCANNING_DISABLED: "true"
  DAST_DISABLED: "true"
  REVIEW_DISABLED: "true"
  CODE_INTELLIGENCE_DISABLED: "true"
  CLUSTER_IMAGE_SCANNING_DISABLED: "true"
  POSTGRES_ENABLED: "false"
  AUTO_DEVOPS_DEPLOY_DEBUG: "true"
#  AUTO_DEPLOY_IMAGE_VERSION: "v2.34.0"

